<html>

<head>QA study app - question {{ question.id }}</head>

<body>
    <h1>{{ question.title }}</h1>
    <p>{{ question.text }} </p>
    
    {% if answers %}
        {% for answer in answers %}
            <p>{{ answer }}</p>
        {% endfor %}
    {% endif %} 
    
    {% for e in form.non_field_errors %}
        <div class="alert alert-danger">{{ e }}</div>
    {% endfor %}
    
    <form class="form-horizontal" method="post" action="{{ question.get_absolute_url}}">
         <fieldset>
            {% csrf_token %}
            <div class="control-group
                {% if form.text.errors %}has-error{% endif %}">
                <label class="control-label">{{ form.text.label }}</label>
                <div class="controls">{{ form.text }}</div>
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            </div>

        </fieldset>
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

    </form>
</body>
</html>